// @media (min-width: 1220px){
// .container {
//     max-width: 1220px;
// }
// }

// @media (min-width: 992px){
// .container {
//     max-width: 990px;
// }
// }

// @media (min-width: 768px){
// .container {
//     max-width: 760px;
// }
// }

// .container {
//     width: 100%;
//     margin-right: auto;
//     margin-left: auto;
//     padding-left: 15px;
//     padding-right: 15px;
// }

.pbGutter8 {
    padding-bottom: 60px;
}

@media (min-width: 992px){
.headingGroup {
    margin-bottom: 20px;
}
}

.headingGroup {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.pb20 {
    padding-bottom: 20px!important;
}

.velaHTML .rte {
    font-size: 18px;
    line-height: 24px;
}

.pbBlockGutter {
    padding-bottom: 30px;
}

.rowFlexMargin {
    margin-left: -15px;
    margin-right: -15px;
}

.rowFlex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


@media (min-width: 992px){
.col-md-6 {
    width: 50%;
}
}
@media (min-width: 992px){
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
}
@media (min-width: 768px){
.col-sm-12 {
    width: 100%;
}
}
@media (min-width: 768px){
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, #fullWidthVertical .ajaxFilter, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
}
.col-xs-12, #fullWidthVertical .ajaxFilter {
    width: 100%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, #fullWidthVertical .ajaxFilter {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xl-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xl-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xl-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xl-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xl-5, .col-xs-6, .col-sm-6, #fullWidthVertical .ajaxFilter, .col-md-6, .col-lg-6, .col-xl-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xl-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xl-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xl-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xl-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xl-11, .col-xs-12, #fullWidthVertical .ajaxFilter, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.mbBlockGutter, .mbItemGutter {
    margin-bottom: 30px;
}

.p-relative, .velaSlideshowWrapper {
    position: relative;
}

.product-card__image {
    position: relative;
    overflow: hidden;
}

.product-card__image .product-card__img81 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.rowFlexMargin8 {
    margin-left: -15px;
    margin-right: -15px;
}
.rowFlex8 {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-xs-68 {
    width: 50%;
}

 .mbItemGutter8 {
    margin-bottom: 30px;
}

.p-relative8 {
    position: relative
}

.product-card__image81 {
    position: relative;
    overflow: hidden;
}

.product-card__image81 .product-card__img82 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

img {
    vertical-align: middle;
}
img {
    border: 0;
}

.mbItemGutter81 {
    margin-bottom: 30px;
}

.p-relative81 {
    position: relative
}

.product-card__image82 {
    position: relative;
    overflow: hidden;
}

.product-card__image82 .product-card__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

